@model Facturacion.Models.Detalle

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Detalle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumFac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumFac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Articulo_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Articulo_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdArticuloAlternativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdArticuloAlternativo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Orden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Iva_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iva_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PorcentajeIva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PorcentajeIva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TextoIva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextoIva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IVA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IVA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PVP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PVP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImporteMes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImporteMes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImporteAnterior)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImporteAnterior)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
