@model IEnumerable<Facturacion.Models.Familia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreFamilia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaAlta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoContableCompras)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoContableVentas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreFamilia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaAlta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoContableCompras)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoContableVentas)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FamiliaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FamiliaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FamiliaId })
        </td>
    </tr>
}

</table>
