@model Facturacion.Models.Iva

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Iva</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Texto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Texto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Porcentaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Porcentaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CuentaContable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuentaContable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Defecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Defecto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IvaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
